html,body {
    margin: 0;
    padding: 0;
}

body {
    font: 20px Tahoma, Geneva, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    width: auto;
    margin: 0 auto;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a:link {
    text-decoration: none;
    color: #ee5c5d;
}

a:visited {
    text-decoration: none;
    color: #ee5c5d;
}

a:hover {
    text-decoration: underline;
    /*color: #c14b4d;*/
   /* color: #ee5c5d;*/
}

a:active {
    text-decoration: underline;
    /*color: #c14b4d;*/
    /*color: #ee5c5d;*/
}
/*
#credits {
    color: #888;
    text-align: center;
    padding-top: 25px;
}

#credits a {
    color: #888;
}*/