html,body {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: #ee5c5d;
    /*color: #d32f13;*/
}

a:visited {
    text-decoration: none;
    color: #ee5c5d;
    /*color: #d32f13;*/
}

a:hover {
    text-decoration: underline;
    /*color: #c14b4d;*/
   /* color: #ee5c5d;*/
}

a:active {
    text-decoration: underline;
    /*color: #c14b4d;*/
    /*color: #ee5c5d;*/
}

#credits {
    color: #888;
    text-align: center;
    padding-top: 25px;
}

#credits a {
    color: #888;
}