html,body {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: #ee5c5d;
    /*color: #d32f13;*/
}

a:visited {
    text-decoration: none;
    color: #ee5c5d;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


body {
    font: 20px Tahoma, Geneva, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    width: auto;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
