<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>io.lookmark.safari.extension.beta</string>
			<key>Developer Identifier</key>
			<string>A2MQ7WE8F2</string>
			<key>CFBundleVersion</key>
			<string>0.9.2.1</string>
			<key>CFBundleShortVersionString</key>
			<string>0.9.2.1</string>
			<key>URL</key>
			<string>http://files.lookmark.io/download/browser-extensions/safari-beta/lookmark.safariextz</string>
			<key>Update From Gallery</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
